@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html{
    height: 100%;
}
body{
    font-family: "PT Sans", "Arial", sans-serif;

    font-size: 22px;
    line-height: 26px;

    background-color: #F2F2F2;
    color: #333333;
    margin: 0;
    height: 100%;
}

.main-container{
    flex-grow: 1;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0 #00000033;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-header{
    background-color: #FFFFFF;
}
.main-index, .main-inner{
    background-color: #FFFFFF;
}
.page-footer{
    background-color: #FFFFFF;
}

.btn{
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 8px 50px;
}

.control-input, .select{
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
}
.select{
    color: #333333;
}
.price-filter{
    font-weight: 700;
}

.btn-basic{
    background-color: #756157;
    color: #FFFFFF;
}
.btn-second{
    background-color: #82B3D3;
    color: #FFFFFF;
}
.btn-select{
    background-color: #7DB54F;;
    color: #FFFFFF;
}
.btn-inline{
    background-color: inherit;
    color: #FFFFFF;
}
.btn-disabled{
    background-color: #E5E5E5;
    color:#FFFFFF;
}
.btn-big{
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
}

.title-section{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}

.visually-hidden{
    position: fixed;
    transform: scale(0);
}

.page-header{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.navigation-list{
    list-style: none;
    margin: 0;
}

.navigation-link{
    color: #000000;
    text-decoration: none;
    text-align: center;
}


.promo{
    background-image: url(../images/promo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-color: #9cd8ff;
    color:#000000;
    padding-top: 51px;
    padding-bottom: 25px;
    margin-bottom: 69px;
}

.advantage{
    text-align: center;
}
.advantage-description{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantage-list{
    list-style: none;
    background-color: #82B3D3;
}

.advantage-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;

}
.advantage-text{
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}
.advantage-item-big, .advantage-item-big p{
    color: #FFFFFF;
}

.about{
    text-align: center;
    margin-bottom: 96px;
}
.about-text{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}
.about-item{
    list-style: none;
}
.about-description{
    font-size: 18px;
    line-height: 21px;
}
.about-item:nth-child(2n+1){
    background-color: #83B3D31F;
}
.about-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.lead{
    text-align: center;
}
.lead-text{
    font-size: 22px;
    line-height: 26px;

}

.subscribe{
    text-align: center;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-color: #9cd8ff;
    color:#000000;
}

.subscribe-title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color:#FFFFFF;
}
.subscribe-text{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
}

.social-list{
    margin: 0;
}
.social-item {
    list-style: none;
}
.social-item-vk{
    background-image: url(../images/vk.svg);
    background-size: 100% auto;
    background-repeat:no-repeat;
}
.social-item-tg{
    background-image: url(../images/tg.svg);
    background-size: 100% auto;
    background-repeat:no-repeat;
}
.social-item-yt{
    background-image: url(../images/yt.svg);
    background-size: 100% auto;
    background-repeat:no-repeat;
}

.phone-footer{
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
}




.inner-header{
    background-image: url(../images/filter-bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    color: #FFFFFF;
    background-color: #9cd8ff;
}

.inner-header-title{
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
}
.breadcrumbs-item{
    list-style: none;
}
.breadcrumbs-link{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

label.control{
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.hotel-card{
    list-style: none;
}
.type-hotel{
    font-size: 18px;
    line-height: 21px;
}
.hotel-card-price{
    font-size: 18px;
    line-height: 21px;
}
.hotel-link-title{
    text-decoration: none;
    color: #000000;
}
.hotel-card-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.hotel-rating{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: #F2F2F2;
    text-transform: uppercase;
}


.pagination-item{
    list-style: none;
}
.pagination-link{
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: #82B3D3;
    color: #FFFFFF;
    text-decoration: none;
}
.pagination-link.current{
    color: #000000;
    background-color: #F2F2F2;
}
.pagination-link-dot{
    background-color: #FFFFFF;
    color: #000000;
}

.page-header{
    display: flex;
}
.navigation{
    display: flex;
}
.navigation-list{
    display: flex;
    align-items: center;
    padding: 0;
}
.navigation-item{
    margin: 0 16px;
}
.navigation-item-user{
    margin: 0 12px;
}
.navigation-btn{
    margin: 0;
    margin-left: 20px;
}
.navigation-user{
    margin-left: auto;
    margin-right: 70px;
}
.navigation-search-icon{
    background-image: url(../images/loupe.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}
.navigation-favorite-icon{
    background-image: url(../images/heard.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}
.count-favorite{
    font-size: 10px;
    line-height: 10px;
    color:#FFFFFF;
    background-color: #7DB54F;
    border-radius: 50%;
}

.logo{
    margin-left: 70px;
    margin-right: 28px;
}

.promo-img{
    display: block;
    margin: 0 auto;
}
.advantage{
    margin-bottom: 64px;
}
.advantage-img{
    vertical-align: middle;
}
.advantage-section{
    width: 620px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}
.advantage-description{
    margin: 0;
    margin-bottom: 90px;
}
.advantage-list{
    display: block;
}

.advantage-row{
    display: flex;
}

.about-title-section{
    width: 505px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.about-text{
    margin: 0;
    margin-bottom: 64px;
}
.about-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.about-title{
    margin: 0;
    margin-bottom: 30px;
}
.about-description{
    margin: 0;
    margin-bottom: 81px;
}

.lead{
    margin-bottom: 96px;
}
.lead-title{
    margin-bottom: 20px;
}
.lead-text{
    width: 592px;
    margin: 0 auto;
    margin-bottom: 54px;
}

.subscribe-title{
    padding-top: 96px;
    margin-bottom: 20px;
}
.subscribe-text{
    margin: 0 auto;
    margin-bottom: 54px;
    width: 475px;
}
.subscribe-form{
    padding-bottom: 104px;
}
.footer-contacts{
    display: flex;
    justify-content: space-between;
}
.dev-company{
    margin-right: 71px;
}

.filter-list{
    display: flex;
}
.pagination{
    display: flex;
}
